/*--------#box_support -----*/
/* --------------- box_support ------------------------ */
.box_support {
	padding:5px 5px;
	line-height:18px;
}
.box_support p.img { text-align:center;}
.box_support span { color:#FF7E00}

.fHotline {color:#006c8e;font-weight:bold;}
.fHotline span { font-size:16px;}