
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="vn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>AU FEED</title>
        <meta name="robots" content="index, follow"/>
        <meta name="author" content="www.fau.com.vn | AU FEED"/>

        <script src="jquery.min.js" type="text/javascript"></script>
        <script src="jquery.fancybox.js" type="text/javascript"></script>
        <script src="core.js" type="text/javascript"></script>
        <script src="javascript.js" type="text/javascript"></script>
        <script src="jquery.lazyscrollloading.js" type="text/javascript"></script>
        <script src="style.js" type="text/javascript"></script>

        <link href="main.css" rel="stylesheet" type="text/css"/>
        <link href="slick.css" rel="stylesheet" type="text/css"/>

        <script src="main.js" type="text/javascript"></script>
        <script src="jquery.nivo.slider.js" type="text/javascript"></script>
        <script src="slick.js" type="text/javascript"></script>


    </head>
    <body >
        <div id="vnt-wrapper">
            <div id="vnt-container">
                <div class="body">


                    <div id="vnt-content">
                        <div id="container">

                            <div class="wrapper">

                                <section class="mod-content row">
                                    <div id="vnt-main">

                                        <!--===BEGIN: DANH MỤC SẢN PHẨM==-->
                                        <div class="news">
                                            <div class="wrapper">
                                                <div class="list-news">
                                                    <div class="row-news lazyloading">

                                                        <div class="item-slider">
                                                            <div class="s-title">Bằng khen &amp; chứng nhận</div>
                                                            <div class="slider-news">
                                                                <div id="slider-news"><div class="s-item">
                                                                        <div class="i-images"><img  src="http://fau.com.vn/vnt_upload/weblink/thumbs/(150x100)_crop_bangkhen.jpg"  alt="GIẢI THƯỞNG - 2015" /></div>
                                                                        <div class="i-description">GIẢI THƯỞNG - 2015</div>
                                                                    </div><div class="s-item">
                                                                        <div class="i-images"><img  src="http://fau.com.vn/vnt_upload/weblink/thumbs/(150x100)_crop_bangkhen.jpg"  alt="GIẢI THƯỞNG - 2015" /></div>
                                                                        <div class="i-description">GIẢI THƯỞNG - 2015</div>
                                                                    </div><div class="s-item">
                                                                        <div class="i-images"><img  src="http://fau.com.vn/vnt_upload/weblink/thumbs/(150x100)_crop_bangkhen.jpg"  alt="GIẢI THƯỞNG - 2015" /></div>
                                                                        <div class="i-description">GIẢI THƯỞNG - 2015</div>
                                                                    </div></div>
                                                            </div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>

                                    </div>
                                </section> 


                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </body>
</html>      
